<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sowndhar</title>
    <link rel="icon" href="https://i.ibb.co/zRsTj3p/Frame-1-37.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        a {
            text-decoration: none;
            color: #fff;
            transition: 0.3s;
        }

        ul {
            list-style: none;
        }

        img {
            max-width: 100%;
        }

        body {
            font-family: 'Lexend', sans-serif;
            font-size: 16px;
            line-height: 24px;
            background-color: #202020;
        }

        .container {
            width: 1170px;
            margin: auto;
        }




        /*---------------------------Header---------------------------*/

        .header-area {
            padding: 25px 0;
            transition: padding .3s;
        }

        .header-area.sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 99;
            background-color: #202020;
            padding: 5px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* padding-bottom: 2rem; */
        }

        .logo {
            display: flex;
            align-items: center;
            position: relative;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 700;
        }

        .logo .fa-bolt {
            color: #fed700;
            font-size: 19.5px;
            position: absolute;
            top: 60%;
            left: 100%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        .signature {
            color: #fff;
            font-size: 26px;
            font-weight: 700;
            margin-right: 10px;
        }

        .header ul li:first-child {
            margin-right: auto;
        }

        .header ul {
            display: flex;
            align-items: center;
        }

        .header ul li {
            margin: 0 15px;
        }

        .header ul li a {
            text-transform: capitalize;
            display: block;
        }

        .header ul li a.active {
            color: #fed700;
        }

        .header ul li a:hover {
            color: #fed700;
        }

        .header .menu_icon {
            color: #fff;
            font-size: 18px;
            cursor: pointer;
            display: none;
        }


        /*---------------------------HomePage--------------------------*/

        .FirstElement {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 5rem;
        }

        .FirstElement.adjusted-padding {
            padding-top: 40px;
        }

        .FirstElement .profile-photo {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            overflow: hidden;
            border: 15px solid #444444;
            box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5)
        }

        profile-photo .img {
            height: 100%;
            width: 100%;
            transition: 0.5s;
        }

        .FirstElement .profile-photo img:hover {
            transform: scale(1.2);
        }

        .profile-text {
            max-width: 750px;
            display: flex;
            flex-direction: column;
        }

        .profile-text h5 {
            color: #e5e5e5;
            font-size: 14px;
        }

        .profile-text h1 {
            color: #fed700;
            font-size: 3rem;
        }

        .profile-text p {
            color: #e5e5e5;
        }

        .profile-text .social i {
            color: #e5e5e5;
            font-size: 18px;
            margin-right: 10px;
            transition: 0.5s;
        }

        .profile-text .social i:hover {
            color: #fed700;
            transform: rotate(360deg);
        }



        /*---------------------------About---------------------------*/

        .about-area {
            padding-top: 130px;
            background-color: #202020;
        }

        .about {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
        }

        .about-content {
            flex-basis: 60%;
        }

        .about-content h4 {
            color: #fed700;
            font-size: 40px;
            line-height: 70px;
            text-transform: capitalize;
        }

        .about-content ul {
            color: #fff;
            text-align: justify;
        }

        .about-content ul li {
            list-style-type: disc;
            margin-bottom: 10px;
        }

        .about-skills {
            flex-basis: 35%;
        }

        .about-skills ul li {
            border-bottom: 1px dashed #ddd;
            padding-bottom: 10px;
            margin-bottom: 10px;
            color: #fff;
            font-size: 18px;
        }

        .about-skills ul li:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }


        /*---------------------------Button---------------------------*/

        .btn-group {
            margin: 45px 0;
        }

        .btn-group .btn {
            border-color: #d5d5d5;
            color: #fff;
            background-color: #333;
            padding: 12px 25px;
            margin: 5px 0;
            margin-right: 7px;
            border-radius: 30px;
            border: 2px solid #e5e5e5;
            box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
        }

        .btn.active {
            border-color: #fed700;
        }


        /*---------------------------Education & Internship---------------------------*/

        .education-content .row {
            display: flex;
            border-radius: 5px;
            height: 400px;
            margin-bottom: 250px;
        }

        .education-content .title {
            color: #fed700;
        }

        .education-content .row .education,
        .education-content .row .internship {
            color: #e5e5e5;
            flex: 0 0 50%;
            max-width: 50%;
            margin-top: 30px;
        }

        .education-content h3.title {
            font-size: 24px;
            margin-bottom: 30px;
            font-weight: 700;
        }

        .education-content .row.timeline-box {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .education-content .row .timeline {
            /* background-color:#e5e5e5; */
            padding: 30px 15px;
            border: 1px solid #e5e5e5;
            border-radius: 10px;
            width: 100%;
            position: relative;
        }

        .education-content .row .timeline-item {
            position: relative;
            padding-left: 37px;
            padding-bottom: 50px;
        }

        .education-content .row .internship .timeline-item {
            position: relative;
            padding-left: 37px;
            padding-bottom: 30px;
        }

        .education-content .row .timeline-item:last-child {
            padding-bottom: 0;
        }

        .education-content .row .timeline-item::before {
            content: "";
            width: 1px;
            position: absolute;
            height: 100%;
            left: 7px;
            top: 0;
            background-color: #fed700;
        }

        .education-content .row .circle-dot {
            position: absolute;
            left: 0;
            top: 0;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: #e5e5e5;
        }

        .education-content .row .timeline-title {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 12px;
        }

        .education-content .row .internship .timeline-title {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 8px;
        }

        .education-content .row .timeline-text {
            line-height: 25px;
            font-size: 16px;
            text-align: justify;
        }



        /*---------------------------Projects---------------------------*/
        .project-content {
            padding: 90px 0;
            /* color:#fff;  */
        }

        .project-title {
            margin-bottom: 60px;
            text-align: center;
        }

        .project-title h4 {
            text-transform: uppercase;
            font-size: 40px;
            line-height: 40px;
            color: #fed700;
            margin-bottom: 20px;
        }

        .project-title p {
            color: #e5e5e5;
        }

        .projects {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .project {
            /* padding: 30px 15px; */
            color: #e5e5e5;
            border: 2px solid #e5e5e5;
            border-radius: 10px;
            width: 100%;
            position: relative;
            padding: 25px;
            text-align: center;
            flex-basis: 32%;
            transition: .3s;
        }

        .project i {
            background-color: #fed700;
            width: 60px;
            height: 60px;
            color: #333;
            font-size: 26px;
            line-height: 60px;
            border-radius: 50%;
        }

        .project h4 {
            font-size: 26px;
            text-transform: capitalize;
            margin: 20px 0;
        }

        .project p {
            text-align: justify;
        }

        .project:hover {
            border-color: #fed700;
        }



        /*---------------------------Contact Me---------------------------*/
        .contact-content {
            padding: 100px 0;
            color: #fff;
            text-align: center;
        }

        .contact-content .contact-title h4 {
            font-size: 40px;
            text-transform: capitalize;
            color: #fed700;
            padding-bottom: 10px;
        }

        .contact-content .contact-title p {
            padding-bottom: 20px;
        }

        .contact {
            max-width: 700px;
            margin: auto;
        }

        .contact input,
        .contact textarea {
            width: 100%;
            padding: 15px;
            border: 0;
            margin-bottom: 10px;
        }

        .contact .submit {
            width: auto;
            background-color: #fed700;
            padding: 10px 40px;
            font-weight: bold;
            font-size: 18px;
        }

        .contact .submit:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        #msg {
            color: #fff;
            font-size: 20px;
            margin-top: -8px;
            display: block;
        }






        /*---------------------------Footer---------------------------*/
        .footer {
            max-width: 950px;
            margin: 0 auto;
            padding: 15px 0 26px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.4);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .footer .message {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.4);
            margin-bottom: 10px;
        }

        .copyright {
            font-size: 12px;
        }




        /*------------------- Responsive Design on small screen -------------------*/

        /* Medium layout */
        @media only screen and (min-width:1000px) and (max-width:1200px) {
            .container {
                width: 970px;
            }
        }

        @media(max-width:1050px) {
            .FirstElement {
                flex-direction: column;
                padding-top: 2rem;
            }

            .profile-text {
                padding: 40px 0px;
            }
        }



        /* tablet layout */
        @media only screen and (min-width:768px) and (max-width:999px) {
            .container {
                width: 750px;
            }
        }


        /* Mobile Layout */
        @media only screen and (max-width:767px) {
            .container {
                width: 350px;
            }

            .header .menu_icon {
                display: block;
            }

            .header ul {
                display: none;
            }

            .header i {
                color: #e5e5e5;
            }

            .profile-text {
                width: 350px;
            }

            .FirstElement .profile-text p {
                text-align: justify;
            }

            .about {
                flex-direction: column;
                flex-basis: 100%;
                margin-bottom: 30px;
            }

            .about-skills {
                width: 100%;
                margin-top: 30px;
            }

            .education-content .row {
                flex-direction: column;
                height: auto;
                margin-bottom: 50px;
            }

            .education-content .row .education,
            .education-content .row .internship {
                flex-basis: 100%;
                max-width: 100%;
                margin-top: 30px;
            }

            .project {
                flex-basis: 100%;
                margin-bottom: 30px;
            }

        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        class="stylesheet">
</head>

<body>

    <!-- Header -->
    <header class="header-area">
      <div class="container">
        <div class="header">
          <a href="#home" class="logo">
            {{#if personalInfo.fullName}}
              <h2 class="signature">{{ personalInfo.fullName }}</h2>
              <i class="fa fa-bolt"></i>
            {{/if}}
          </a>
          <ul class="navbar">
            <li><a href="#home">Home</a></li>
            {{#if about}}<li><a href="#about">About</a></li>{{/if}}
            {{#if hasEducationOrExperience}}<li><a href="#education">Experience</a></li>{{/if}}
            {{#if projects}}<li><a href="#projects">Projects</a></li>{{/if}}
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </header>
  
    <!-- Home -->
    <div class="FirstElement" id="home">
      {{#if personalInfo.profilePictureUrl}}
        <div class="profile-photo">
          <img src="{{ personalInfo.profilePictureUrl }}" alt="profile picture" />
        </div>
      {{/if}}
      <div class="profile-text">     
        <h5>Hi I'm </h5><br />
        <h1>{{ personalInfo.fullName }}</h1><br />
        {{#if about}}<p>{{ about }}</p>{{/if}}
        <div class="btn-group">
          {{#if personalInfo.resumeUrl}}<a href="{{ personalInfo.resumeUrl }}" class="btn active">Download CV</a>{{/if}}
          {{#if personalInfo.email}}<a href="mailto:{{ personalInfo.email }}" class="btn">Contact</a>{{/if}}
        </div>
        <div class="social">
          {{#if personalInfo.email}}<a href="mailto:{{ personalInfo.email }}"><i class="fa fa-envelope"></i></a>{{/if}}
          {{#if personalInfo.github}}<a href="{{ personalInfo.github }}"><i class="fa-brands fa-github"></i></a>{{/if}}
          {{#if personalInfo.linkedin}}<a href="{{ personalInfo.linkedin }}"><i class="fa-brands fa-linkedin"></i></a>{{/if}}
        </div>
      </div>
    </div>
  
    <!-- About -->
    {{#if about}}
    <section class="about-area" id="about">
      <div class="container">
        <div class="about">
          <div class="about-content">
            <h4>About Me</h4>
            <p>{{about}}</p>
          </div>
          <div class="about-skills">
            <ul>
              {{#if personalInfo.fullName}}<li>Name: {{ personalInfo.fullName }}</li>{{/if}}
              {{#if personalInfo.address}}<li>From: {{ personalInfo.address }}</li>{{/if}}
              {{#if personalInfo.email}}<li>Email: {{ personalInfo.email }}</li>{{/if}}
            </ul>
          </div>
        </div>
      </div>
    </section>
    {{/if}}
  
    <!-- Education & Internship -->
    {{#if hasEducationOrExperience}}
    <section class="education-content" id="education">
      <div class="container">
        <div class="row">
          {{#if education}}
          <div class="education">
            <h3 class="title">Education</h3>
            <div class="row">
              <div class="timeline-box">
                <div class="timeline">
                  {{#each education}}
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-title">{{ this.degree }}</h3>
                    <h4 class="timeline-title">{{ this.institution }}</h4>
                    <h4 class="timeline-title"><i class="fa fa-calendar"></i> {{ this.startDate }} - {{ this.endDate }}</h4>
                    {{#if this.description}}<p class="timeline-text">{{ this.description }}</p>{{/if}}
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
          {{/if}}

          {{#if workExperience}}
          <div class="internship">
            <h3 class="title">Experience</h3>
            <div class="row">
              <div class="timeline-box">
                <div class="timeline">
                  {{#each workExperience}}
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-title">{{ this.position }}</h3>
                    <h4 class="timeline-title">{{ this.company }}</h4>
                    <h4 class="timeline-title"><i class="fa fa-calendar"></i> {{ this.startDate }} - {{#if this.currentlyWorking}}Present{{else}}{{this.endDate}}{{/if}}</h4>
                    {{#if this.description}}<li class="timeline-text">{{ this.description }}</li>{{/if}}
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </section>
    {{/if}}
  
    <!-- Projects -->
    {{#if projects}}
    <section class="project-content" id="projects">
      <div class="container">
        <div class="project-title">
          <h4>My Projects</h4>
          <p>Explore the solutions I've built</p>
        </div>
        <div class="projects">
          {{#each projects}}
          <div class="project">
            <i class="fa fa-briefcase"></i>
            <h4>{{ this.title }}</h4>
            <p>{{ this.description }}</p>
          </div>
          {{/each}}
        </div>
      </div>
    </section>
    {{/if}}
  
    <!-- Contact -->
    <section class="contact-content" id="contact">
      <div class="container">
        <div class="contact-title">
          <h4>Contact Me</h4>
          <p>Let’s connect and collaborate</p>
        </div>
        <div class="contact">
          <form name="submitToGoogleSheet">
            <input type="text" name="NAME" placeholder="Name" required />
            <input type="email" name="EMAIL" placeholder="Email" required />
            <input type="text" name="SUBJECT" placeholder="Subject" />
            <textarea name="MESSAGE" placeholder="Message"></textarea>
            <input type="submit" value="Send Message" class="submit" />
          </form>
          <span id="msg"></span>
        </div>
      </div>
    </section>
  
   
  
    <!-- Footer -->
    <footer class="footer">
      <small class="message">Thanks for visiting and happy coding!</small>
      <small class="copyright">&copy; Copyright {{ currentYear }}. All rights reserved.</small>
    </footer>

     <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        $(document).ready(function () {

            //sticky header
            $(window).scroll(function () {
                if ($(this).scrollTop() > 1) {
                    $(".header-area").addClass("sticky");
                } else {
                    $(".header-area").removeClass("sticky");
                }

                // Update the active section in the header
                updateActiveSection();
            });

            $(".header ul li a").click(function (e) {
                e.preventDefault();

                var target = $(this).attr("href");

                if ($(target).hasClass("active-section")) {
                    return;
                }

                if (target === "#home") {
                    $("html, body").animate(
                        {
                            scrollTop: 0
                        },
                        500
                    );
                } else {
                    var offset = $(target).offset().top - 40;

                    $("html, body").animate(
                        {
                            scrollTop: offset
                        },
                        500
                    );
                }

                $(".header ul li a").removeClass("active");
                $(this).addClass("active");
            });


            //Initial content revealing js
            ScrollReveal({
                distance: "100px",
                duration: 2000,
                delay: 200
            });

            ScrollReveal().reveal(".header a, .profile-photo, .about-content, .education", {
                origin: "left"
            });
            ScrollReveal().reveal(".header ul, .profile-text, .about-skills, .internship", {
                origin: "right"
            });
            ScrollReveal().reveal(".project-title, .contact-title", {
                origin: "top"
            });
            ScrollReveal().reveal(".projects, .contact", {
                origin: "bottom"
            });

            //contact form to excel sheet
            const scriptURL = 'https://script.google.com/macros/s/AKfycbzUSaaX3XmlE5m9YLOHOBrRuCh2Ohv49N9bs4bew7xPd1qlgpvXtnudDs5Xhp3jF-Fx/exec';
            const form = document.forms['submitToGoogleSheet']
            const msg = document.getElementById("msg")

            form.addEventListener('submit', e => {
                e.preventDefault()
                fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                    .then(response => {
                        msg.innerHTML = "Message sent successfully"
                        setTimeout(function () {
                            msg.innerHTML = ""
                        }, 5000)
                        form.reset()
                    })
                    .catch(error => console.error('Error!', error.message))
            })

        });

        function updateActiveSection() {
            var scrollPosition = $(window).scrollTop();

            // Checking if scroll position is at the top of the page
            if (scrollPosition === 0) {
                $(".header ul li a").removeClass("active");
                $(".header ul li a[href='#home']").addClass("active");
                return;
            }

            // Iterate through each section and update the active class in the header
            $("section").each(function () {
                var target = $(this).attr("id");
                var offset = $(this).offset().top;
                var height = $(this).outerHeight();

                if (
                    scrollPosition >= offset - 40 &&
                    scrollPosition < offset + height - 40
                ) {
                    $(".header ul li a").removeClass("active");
                    $(".header ul li a[href='#" + target + "']").addClass("active");
                }
            });
        }



    </script>
</body>

</html>